/* "Logged in" message at top of page */
#loginId {
    position: absolute;
    right: 0;
    margin-right: 4px;
    padding: 0 4px;
    text-align:right;
    color:white;
    background-color:rgba(0, 0, 0, 0.4);
    -moz-border-radius: 0 0 4px 4px; /* FF1+ */
    -webkit-border-radius: 0 0 4px 4px; /* Saf3+, Chrome */
    border-radius: 0 0 4px 4px; /* Opera 10.5, IE 9 */
}

